.TextArea {
  font-size: 24px;
  letter-spacing: 2px;
}

.Editor {
  position: absolute;
  max-width: 988px;
  width: calc(100% - 4em);
  min-height: 10em;
  left: 0;
  right: 0;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 0 1px #ddd;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  border: 1px solid #ccc;
}

.Editor:focus {
  outline: none;
  border: 1px solid #000;
}

.Viewer {
  max-width: 988px;
  width: calc(100% - 4em);
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em auto;
  padding: 1em;
  font-weight: bolder;
  color: #ff0000;
  user-select: none;
  z-index: 1;
}
