.TextArea {
  font-size: 24px;
  letter-spacing: 2px;
}

.Editor {
  position: absolute;
  margin: 1em;
  width: calc(100% - 4em);
  min-height: 10em;
  z-index: 2;
  -webkit-user-modify: read-write-plaintext-only;
  box-shadow: 0 0 1px #ccc;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);
}

.Editor:focus {
  outline: none;
}

.Viewer {
  position: absolute;
  margin: 1em;
  padding: 1em;
  font-weight: bolder;
  color: #ff0000;
  z-index: 1;
  user-select: none;
}
