.ArticleSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 25em;
}

.List {
  width: 90%;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ListItem {
  max-height: 10em;
  margin-right: 0.25em;
  padding: 0.25em 0.75em;
  border-right: 0.05em solid #000;
  writing-mode: vertical-rl;
  cursor: pointer;
  user-select: none;
  border-bottom-left-radius: 0.5em;
}

.ListItem:hover {
  background-color: #fafafa;
}

.ListItem::before {
  content: "《";
}

.ListItem::after {
  content: "》" attr(author);
}

.Editor {
  -webkit-appearance: none;
  width: 85%;
  height: 10em;
  padding: 0.5em 0 0.5em 0.5em;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
  overflow-y: auto;
  word-break: break-all;
  box-shadow: 0 0 1px #ddd;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 0;
}

.Editor:focus {
  outline: none;
  border: 1px solid #000;
}


@media screen and (min-width: 500px) {
  /* mobile phone */
  .ArticleSelector {
    align-items: stretch;
    flex-direction: unset;
    height: 20em;
  }
  
  .List {
    width: 30%;
    margin: 2em 1em 2em 2em;
    padding: 0;
  }
  
  .Editor {
    width: 65%;
    height: auto;
    margin: 2em 2em 2em 1em;
  }
}

@media screen and (min-width: 0\0
) and (min-resolution: +72dpi) {
  /* IE */
  .ArticleSelector {
    text-align: center;
  }
  
  .Editor {
    width: 95%;
    height: 15em;
    margin: auto;
  }
}

:global(.dark-mode) .ArticleSelector * {
  color: #ccc;
  background-color: #333;
}


:global(.dark-mode) .ArticleSelector .ListItem:hover {
  color: #fff;
  background-color: #444;
}

:global(.dark-mode) .ArticleSelector .Editor {
  border: 1px solid #333;
  box-shadow: 0 0 1px #000;
}

:global(.dark-mode) .ArticleSelector .Editor:focus {
  border: 1px solid #000;
  box-shadow: 0 0 1px #fff;
}
